<!DOCTYPE html>

<html>
    <head>
        <title>404 error</title>
        <link rel = "icon" href="/images/weather.png">
        <link rel = "stylesheet" href = "/css/styles.css">
    </head>
    <body>
        <div class="sticky">
             {{>header}}
            <p>{{errormsg}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>