<!DOCTYPE html>

<html>
    <head>
           <title>help</title>
           <link rel = "icon" href="/images/weather.png">
           <link rel = "stylesheet" href = "/css/styles.css">
    </head>
    <body>

        <br class="sticky">
             {{>header}}
             <h3 style="background: black; color:silver; padding :10px; width:200px">welcome to help page</h3>
             <p>Enter your location on the <b>LOCATION BAR</b></p></br>
             <p>click <b>submit</b></p>
             <p>This app is to fetch the accurate weather of your location</p></br>
             
        </div>
        
        {{>footer}}
    </body>
</html>