<!DOCTYPE html>

<html>
    <head>
           <title>help</title>
           <link rel = "icon" href="/images/weather.png">
           <link rel = "stylesheet" href = "/css/styles.css">
    </head>
    <body>

        <div class="sticky">
             {{>header}}
             <p>welcome to help page</p>
        </div>
        
        {{>footer}}
    </body>
</html>